@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001b29;

  display: grid;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td{
  display: grid;
  width: 100%;
  justify-items: end;
}

tr{
  display: flex;
  padding: 10px 0;
  width: 97%;
  justify-content: center;
  align-items: center;
  border: 1px rgba(255, 255, 255, .5) solid;
}

tr:hover{
  cursor: pointer;
  width: 100%;
  border-right: none;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .3);
}
 